
.image {

    width: 200px;
    height: 100px;
    justify-content: center;
    border: 1px solid green;
    border-radius: 5px;
}

.genres {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 1vh;
    text-decoration: none;
}
.navlinks {
    text-decoration: none;
    color: black;
    /* color: rgba(48, 30, 9, 0.616); */
}
/* .card {
    /*width: fit-content;
    height: fit-content;
     
} */
